.button {
  background: none;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
  text-decoration: underline;
}
.button:hover {
  cursor: pointer;
}
.link {
  color: #ffffff;
}

.link:hover {
  cursor: pointer;
}

.center {
  width: fit-content;
  margin: 2rem auto 0 auto;
  position: relative;
  z-index: 1;
}
