.background {
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.thanks {
  font-size: 96px;
  line-height: 119px;
  font-style: normal;
  font-family: Rowdies;
  color: #fe3b1f;
  width: 95%;
  margin: 5rem auto 7rem auto;
  text-align: center;
}
