.background {
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.bgImage {
  background-image: url(../images/stars.png);
  width: 100vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  text-align: center;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  color: #fe3b1f;
  width: 100%;
  font-weight: 900;
}

.rocketman {
  pointer-events: none;
  width: 409.92px;
  height: 372.45px;
}

.img {
  position: absolute;
  bottom: 0px;
  pointer-events: none;
}

.center {
  margin-bottom: 20rem;
  display: flex;
  flex-direction: column;
}

.start {
  background: #fe3b1f;
  border-radius: 50px;
  border: none;
  padding: 1.8rem 3rem;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  width: fit-content;
  margin: auto;
}

.submitted {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  line-height: 29px;
  text-decoration: underline;
  margin-top: 2rem;
}
