.background {
  height: 100vh;
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

.bgImage {
  background-image: url(../images/stars.png);
  width: 100vw;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  text-align: center;
  font-family: Rowdies;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 119px;
  color: #fe3b1f;
  width: 100%;
  font-weight: 900;
}

.rocketman {
  width: 500px;
  height: 500px;
}

.img {
  position: absolute;
  bottom: 0px;
}

.center {
  margin-bottom: 20rem;
}
